@page
@model myWebApp.Pages.TraceabilityModel
@{
    ViewData["Title"] = "Traceability";
}

<div class="text-center">
    <h1>Traceability</h1>
    <h2>using Jira and Confluence</h2>
    <h3>Abstract</h3>
    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
    <h3>Usage</h3>
    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
    <h3>Workflow</h3>
    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
</div>
