@page
@model myWebApp.Pages.TraceabilityModel
@{
    ViewData["Title"] = "Traceability";
}

<div class="text-center">
    <h1>Traceability</h1>
    <h2>using Jira and Confluence</h2>
    <h3>Abstract</h3>
    <p>
        This article describes the creation of a traceability matrix using JIRA and Confluence together.
        An usefull approach might be to create the traceability matrix while refining the (customer-)requirements - best case in a planning meeting - or equivalent.
    </p>
    <h3>Usage</h3>
    <p>
        Creating a traceability matrix has to sites in usage:
        <ul>
            <li>N° 1: Keep track of Customer Requirements and Ongoing Development - wether it will be Development, Testing or any other related Task.</li>
            <li>N° 2: Fullfill ISO Norms of Processes</li>
         </ul>
    </p>
    <h3>Workflow</h3>
    <p>
        Create Confluence's Basic Requirement(?) template.<br />
        Fill the needed Meta-information's:<br />
        <ul>
            <li>participants</li>
            <li>persons in CC</li>
            <li>main topic</li>
            <li>goal</li>
        </ul>
        Fill one of the (many?) High Level Requirement into an element of the left column<br />
        Create (an) "User Story(s)" in Jira which shall fulfill this one 'High Level Requirement'<br />

        A User Story itself shall consist of other subtasks in Jira such aus "Development Task" "Test Task" "Documentation Task"<br />
    </p>
</div>
